.character-item {
    outline: 1px solid #FFE81F;
    margin: 10px 30px;
    padding: 0 10px;
    transition: all 0.2s linear;
    font-size: 20px;
}

.character-item:hover {
    cursor: pointer;
    outline-width: 3px;
    transform: scale(1.05);
}

.character-hidden {
    opacity: 0.3;
    pointer-events: none;
}
