.opening-crawl-container, .opening-crawl-fade {
    height: 300px;
}

.opening-crawl-fade {
  position: absolute;
  width: 100%;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, green 75%);
  z-index: 1;
}

.opening-crawl-text {
    position: absolute;
    top: 0;
    animation: crawl 3s linear;
    margin: 0 20%;    
}

@keyframes crawl {
	0% {
    top: 300px;
    /* transform: rotateX(20deg)  translateZ(0); */
  }
	100% { 
    top: 0px;
    /* transform: rotateX(25deg) translateZ(-2500px); */
  }
}
