.opening-crawl-container, .opening-crawl-fade {
    height: 300px;
    overflow: hidden;
}

.opening-crawl-container {
    perspective: 400px;
    padding: 0 25%;
    border-bottom: 1px solid #feda4a;
}

.opening-crawl-fade {
  position: absolute;
  width: 100%;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 85%);
  z-index: 1;
}

.opening-crawl-text {
    color: #feda4a;
    position: relative;
    animation: crawl 35s linear;
    animation-iteration-count: infinite;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    font-weight: 600;
}

@keyframes crawl {
	0% {
        transform: rotateX(50deg) translateZ(350px) translateY(500px);
    }
	100% { 
        transform: rotateX(50deg) translateZ(350px) translateY(-1300px);
    }
}
